Flask==2.2.2
Flask-Babel==2.0.0
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Moment==1.0.5
Flask-WTF==1.0.1
Werkzeug==2.2.2
WTForms==3.0.1
Jinja2==3.1.2
click==8.1.3
itsdangerous==2.1.2
MarkupSafe==2.1.1
boto3==1.26.0
botocore==1.29.0
jmespath==1.0.1
python-dateutil==2.8.2
s3transfer==0.6.0
urllib3==1.26.13
certifi==2022.12.7
charset-normalizer==2.1.1
idna==3.4
six==1.16.0
email-validator==1.3.0
dnspython==2.2.1
python-dotenv==1.0.0
PyJWT==2.6.0
Babel==2.11.0
pytz==2022.6
blinker==1.5
