{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <div class="table" style="margin-left: 60px;
        padding: 15px;
        width: calc(100% - 20px);
        transition: margin-left 0.3s ease";>
    <h2>{{ _('忘記密碼') }}</h2>
    <div class="row">
        <div class="col-md-4">{{ wtf.quick_form(form) }}</div>
    </div>
    </div>  
{% endblock %}